.paper {
    padding: 100px 100px;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('kiss.png');
    background-position: center center;
    background-size: 1000px;


}
.paper {
    border: 5px solid black;
    position: absolute;
    background-image: url('colour.png');
    background-size: 500px;
    background-position: center center;
    padding: 20px 100px;
    transform: rotateZ('-5deg');
    box-shadow: 1px 15px 20px 0px rgb(0,0,0.5);
}
.paper.heart {
    position: relative;
    width: 200px;
    height: 200px;
    padding: 0;
    border-radius:50% ;
}
.paper.image {
    padding:10px;

}
.paper.image p {
    font-size: 30px;
}

img {
    max-height: 200px;
    width: 100%;
    user-select: none;

}
.paper.heart::after {
    content: "";
    background-image: url('hands.png');
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 150px;
    background-position: center center;
    background-repeat: no-repeat;

}

 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(233, 201, 230);
    opacity: 0.75;
    user-select: none;

 }
        


    